    .firstsection {
        text-align: center;
        margin-top: 2%;
    }

    .btngetstarted{
        margin-top: 5%;
    }


    .firstsectiontext{
        /*margin-right: 700px;*/
        margin-top: 10%;
     }

    .text{
        font-family:'Merriweather', serif;
    }

    .firstsectionimage{
        height: 70%;
        width: 70%;
    }

    .firstsectionbigtext{
        font-weight: bold;
    }
    .button{
        color: #064475;
    }

    .row{
        margin-right: 0px !important;
        margin-left: 0px;!important;
    }



    /*Card Css*/

    .card{
        background-color: #064475 !important;
        text-align: center;
        color: white;
    }

    .card-title{
        font-weight: bold;
        color: white;
    }
    .card-text{
        color: white;
    }

    #service{
        margin-top: 200px;
    }


    /*Card Slider*/





    @media (max-width: 768px) {
        .carousel-inner .carousel-item > div {
            display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

     /*display 3*/
    @media (min-width: 768px) {

        .carousel-inner .active.right,
        /*.carousel-inner .carousel-item-next {*/
        .carousel-item-next { right:  33%;}
            /*transform: translateX(0);*/
        }

        .carousel-inner .active.left,
        /*.carousel-inner .carousel-item-prev {*/
        .prev { left:  33%;}

            /*transform: translateX(-33.333%);*/
        /*}*/


    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left{
        transform: translateX(0);
    }



    .our-service-card:hover{
         transition: all 0.4s ease-out;
         box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
         /*top: -8px;*/
         border: 2px  #cccccc;
         background-color: white;
        transform: translateY(-20px)
    }

    .grow-your-business{
       justify-content: center;
        text-align: center;
        color: black;
        margin-top: 7%;
        font-weight: bold;
    }

    .web-design-div{
        justify-content: center;
        text-align: center;
        color: black;
        margin-top: 2%;
        margin-bottom: 4%;
        font-weight: bold;
    }
    .our-work-card{
        margin-bottom: 15%;
    }

    .our-skill-section{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .our-card-title{
        padding-top: 7%;
        padding-bottom: 2%;
    }

    .our-skill-text{
        font-weight: bold;
        padding-bottom:7%;
    }

    .our-skill-div{
        /*max-width: 1700px;*/
    }

    .our-skill-card{
        border: 2px  #cccccc;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        height: 80%;
    }

    .rounded-circle{
    font-size: 2.15em;
    }


    .statstic{
        /*margin-top: 100px;*/
        /*margin-bottom: 100px;*/

        height: 50%;
        width: 45%;
        padding-top: 15%;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
    }

    .statstic-circle-div{
        text-align: center;
    }

    .our-work-div{
        margin-top: 20px!important;
    }



    .image-skill{
        height: 40%;
        width: 40%;
    }

    .skill-div{
        height: 90%;
        /*width: 50px;*/
    }


    .text-in-round{
        font-size: 200%;
        margin-top: 20%;
        font-weight: bold;
    }
    .text-in-round:hover {
        transition: width 1s, height 1s, transform 1s;
        transform: rotate(360deg);
    }


    .row-statastic{
        margin-top: 50px;
        background-color: #F7F7F7;
    }

    .text-below-round{
        /*font-size: 30px;*/
        margin-top: 60px;
        font-weight: bold;
    }

    .text-web-design{
        color: #51B9FC;
        margin-bottom: 30px;
        text-decoration: underline;
        font-size: 20px;
    }

    .our-works-text{
        font-size: 32px;
        font-weight: bold;
    }

    .zoom-out-image {
        overflow: hidden;
    }

    .zoom-out-image img {
        transition: 0.3s all ease-in-out;
    }

    .zoom-out-image:hover img {
        transform: scale(1.1);
    }


    .zoom-out-image{
        /*height: 50%!important;*/
        width: auto;
    }
    /*.image-group{*/
        /*!*width: 500px;*!*/
        /*height: 15vw !important;*/
        /*object-fit: cover;*/
    /*}*/


    /*
    *
    * ==========================================
    * FOR DEMO PURPOSE
    * ==========================================
    *
    */
    /*body {*/
        /*background: #e8cbc0;*/
        /*background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);*/
        /*background: linear-gradient(to right, #e8cbc0, #636fa4);*/
        /*min-height: 100vh;*/
    /*}*/



    .our-display-text{
        margin-top: 100px;
    }

    .img-thumbnail {
        height: 100px !important;
    }

    .for-bold{
        font-weight: bold;
    }

    .for-text-center{
        text-align: center;
        justify-content: center;
    }

    .client-card-image{
        margin-top: 50px !important;
    }

    /*.join-our-team{*/
        /*margin-left: 500px;*/
        /*font-size: 32px;*/
    /*}*/

    /*.join-team-btn{*/
        /*position: absolute;*/
        /*left: 50%;*/
    /*}*/




    /*For footer*/


    footer {
        /*background: #16222A;*/
        /*background: -webkit-linear-gradient(59deg, #3A6073, #16222A);*/
        /*background: linear-gradient(59deg, #3A6073, #16222A);*/
        background-color: #064475;
        color: white;
        margin-top:100px;
    }

    footer a {
        color: #fff;
        font-size: 14px;
        transition-duration: 0.2s;
    }

    footer a:hover {
        color: #FA944B;
        text-decoration: none;
    }

    .copy {
        font-size: 12px;
        padding: 10px;
        border-top: 1px solid #FFFFFF;
    }

    .footer-middle {
        padding-top: 4%;
        padding-bottom: 1%;
        color: white;
    }

    .mainfooter{
        margin-bottom: 10px;
    }


    /*SOCİAL İCONS*/

    /* footer social icons */

    ul.social-network {
        list-style: none;
        display: inline;
        margin-left: 0 !important;
        padding: 0;
    }

    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }


    /* footer social icons */

    .social-network a.icoFacebook:hover {
        background-color: #3B5998;
    }

    .social-network a.icoLinkedin:hover {
        background-color: #007bb7;
    }

    .social-network a.icoGoogle:hover {
        background-color: #34A853;
    }

    .social-network a.icoTwitter:hover {
        background-color: #74CAFE;
    }

    .social-network a.icoPintrest:hover {
        background-color: #C61D26;
    }

    .social-network a.icoPhone:hover {
        background-color: #34A853;
    }

    .social-network a.icoEmail:hover {
        background-color: #C61D26;
    }
    .social-network a.icoFacebook:hover i,
    .social-network a.icoLinkedin:hover i {
        color: #fff;
    }

    .social-network a.socialIcon:hover,
    .socialHoverClass {
        color: #44BCDD;
    }

    .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .social-circle li i {
        margin: 0;
        line-height: 30px;
        text-align: center;
    }

    .social-circle li a:hover i,
    .triggeredHover {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
    }

    .social-circle i {
        color: #595959;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
    }




    .social-circle-3 li a{
        display: inline-block;
        position: relative;
        /*margin: 0 auto 0 auto;*/
        margin-top: 5px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 25px;
    }

    .social-circle-3 li i {
        margin: 0;
        line-height: 30px;
        text-align: center;
    }

    .social-circle-3 i {
        color: #595959;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
    }

    .social-circle-3 li a:hover i,
    .triggeredHover {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
    }



    .social-network a {
        background-color: #F9F9F9;
    }

    .footer-icon-col{
        margin-top: 100px;
    }


    .img-client-say{
        height: 55%!important;
        width: 20%;
    }

    .section-client-say{
        margin-top: 100px;
    }

    .section-our-service{
        margin-top: 100px;
    }

    .section-discuss-idea{
        margin-top: 100px;

    }
    .card-client-say{
        /*margin-top: 50px;*/
    }

    .lets-discuss{
        padding-left: 18%;
        text-align: left;
        /*justify-content: center;*/
        font-size: 35px;
        font-weight: bold;
    }



    .footer-third-col{
        margin-bottom:4%;
    }

    .form-btn {
        height: 3rem;
        width: 10rem;
        font-size: 12px;
        color: #ffffff;
        background-color: #064475;
    }

    .btn-join-our-team{
        padding-top: 1rem;
        padding-left: 12rem;
    }
    .discuss-section{
        padding-top: 7%;
    }



.card-quote-icon{
    padding-right: 100%;
    /*padding-bottom: 2rem;*/
    /*padding-top: -10rem;*/
}






    .profile {
        margin-top: 16px;
        margin-left: 11px
    }

    .profile-pic {
        width: 58px
    }

    .cust-name {
        font-size: 18px
    }

    .cust-profession {
        font-size: 10px
    }




    .client-info{
        padding-top: 30%;
    }

    .subscribe-text{
        font-size: 12px;
    }
    .for-font-weight-bold{
        font-weight: bold;
    }
    .email-input{
        padding-top: 5%;
        padding-bottom: 7%;
    }

    .echo-panther-text{
        margin-top: -10%;
    }
    .footer-icon-text{
        font-size: 12px;
    }

    .footer-second-row{
        padding-top: 2%;
    }
    .follow-us-text{
        padding-bottom: 5%;
    }
    .send-email-button{
        width: 10%;
        background-color: #064475;
        border: 1px solid white;
    }