 /*@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");*/

/*.navbar-icon-top .navbar-nav .nav-link > .fa {*/
    /*position: relative;*/
    /*width: 36px;*/
    /*font-size: 24px;*/
/*}*/

/*.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {*/
    /*font-size: 0.75rem;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*font-family: sans-serif;*/
/*}*/

/*.navbar-icon-top .navbar-nav .nav-link > .fa {*/
    /*top: 3px;*/
    /*line-height: 12px;*/
/*}*/

/*.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {*/
    /*top: -10px;*/
/*}*/



/*@media (min-width: 576px) {*/
    /*.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {*/
        /*text-align: center;*/
        /*display: table-cell;*/
        /*height: 50px;*/
        /*vertical-align: middle;*/
        /*padding-top: 0;*/
        /*padding-bottom: 0;*/
    /*}*/

    /*.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {*/
        /*display: block;*/
        /*width: 48px;*/
        /*margin: 2px auto 4px auto;*/
        /*top: 0;*/
        /*line-height: 24px;*/
    /*}*/

    /*.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {*/
        /*top: -7px;*/
    /*}*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {*/
        /*text-align: center;*/
        /*display: table-cell;*/
        /*height: 70px;*/
        /*vertical-align: middle;*/
        /*padding-top: 0;*/
        /*padding-bottom: 0;*/
    /*}*/

    /*.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {*/
        /*display: block;*/
        /*width: 48px;*/
        /*margin: 2px auto 4px auto;*/
        /*top: 0;*/
        /*line-height: 24px;*/
    /*}*/

    /*.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {*/
        /*top: -7px;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {*/
    /*.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {*/
        /*text-align: center;*/
        /*display: table-cell;*/
        /*height: 70px;*/
        /*vertical-align: middle;*/
        /*padding-top: 0;*/
        /*padding-bottom: 0;*/
    /*}*/

    /*.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {*/
        /*display: block;*/
        /*width: 48px;*/
        /*margin: 2px auto 4px auto;*/
        /*top: 0;*/
        /*line-height: 24px;*/
    /*}*/

    /*.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {*/
        /*top: -7px;*/
    /*}*/
    /*.navbar-expand-lg{*/
        /*flex-flow: row-reverse wrap !important;*/
    /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
    /*.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {*/
        /*text-align: center;*/
        /*display: table-cell;*/
        /*height: 70px;*/
        /*vertical-align: middle;*/
        /*padding-top: 0;*/
        /*padding-bottom: 0;*/

    /*}*/

    /*.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {*/
        /*display: block;*/
        /*width: 48px;*/
        /*margin: 2px auto 4px auto;*/
        /*top: 0;*/
        /*line-height: 24px;*/
    /*}*/

    /*.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {*/
        /*top: -7px;*/
    /*}*/
/*}*/

/*.header-div li{*/
    /*display:inline-block;*/
    /*position: relative;*/
/*}*/

/*.header-option{*/
    /*margin-left: 10px;*/
    /*color: #FFFFFF;*/
/*}*/

/*.header-text{*/
    /*!*margin-top: 20px;*!*/
    /*color: #FFFFFF;*/
    /*text-align: center;*/
    /*font-size: 20px;*/
/*}*/








 /*For updated navbar*/

/*.navbar-toggler-icon{*/
    /*background-color: #0B1C26 !important;*/
/*}*/

 .navbar-expand-lg{
    flex-flow: row-reverse wrap !important;
 }

 .navbar-expand-xl{
     flex-flow: row-reverse wrap !important;
 }

 .navbar-expand-md{
     flex-flow: row-reverse wrap !important;
 }




 .navbar-icon-top .navbar-nav .nav-link > .fa {
     position: relative;
     width: 36px;
     font-size: 24px;
 }

 .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
     font-size: 0.75rem;
     position: absolute;
     right: 0;
     font-family: sans-serif;
 }

 .navbar-icon-top .navbar-nav .nav-link > .fa {
     top: 3px;
     line-height: 12px;
 }

 .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
     top: -10px;
 }





 @media (min-width: 576px) {
     /*.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {*/
         /*text-align: center;*/
         /*display: table-cell;*/
         /*height: 50px;*/
         /*vertical-align: middle;*/
         /*padding-top: 0;*/
         /*padding-bottom: 0;*/
     /*}*/

     /*.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {*/
         /*display: block;*/
         /*width: 48px;*/
         /*margin: 2px auto 4px auto;*/
         /*top: 0;*/
         /*line-height: 24px;*/
     /*}*/

     /*.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {*/
         /*top: -7px;*/
     /*}*/
     .nav-first-div{
         height: 4.5rem;
     }
     .panther-logo {
         margin-top: -37%;
         margin-left: 41%;
     }
     .panther-text{
         margin-top: -17%;
     }
 }

 @media (min-width: 768px) {
     /*.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {*/
         /*text-align: center;*/
         /*display: table-cell;*/
         /*height: 50px;*/
         /*vertical-align: middle;*/
         /*padding-top: 0;*/
         /*padding-bottom: 0;*/
     /*}*/

     /*.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {*/
         /*display: block;*/
         /*width: 48px;*/
         /*margin: 2px auto 4px auto;*/
         /*top: 0;*/
         /*line-height: 24px;*/
     /*}*/

     /*.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {*/
         /*top: -7px;*/
     /*}*/
     /*.nav-first-div{*/
         /*height: 300px;*/
     /*}*/
    .nav-first-div{
        height: 22.5rem;
    }

     .panther-logo {
         margin-top: 50% !important;
         margin-left: -2000% !important;
     }
     .panther-text{
         font-size: 30px !important;
     }
     /*.nav-second-div{*/
         /*padding-top: 100px;*/
     /*}*/
     .panther-logo {
         margin-top: -3500% !important;
         margin-left: -3000% !important;
     }
     .panther-text {
         margin-top: -120% !important;
         font-size: 30px;
         color: #FFFFFF;
     }
 }


 @media (min-width: 992px) {
     /*.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {*/
     /*text-align: center;*/
     /*display: table-cell;*/
     /*height: 70px;*/
     /*vertical-align: middle;*/
     /*padding-top: 0;*/
     /*padding-bottom: 0;*/
     /*}*/

     /*.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {*/
     /*display: block;*/
     /*width: 48px;*/
     /*margin: 2px auto 4px auto;*/
     /*top: 0;*/
     /*line-height: 24px;*/
     /*}*/

     /*.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {*/
     /*top: -7px;*/
     /*}*/
     .nav-first-div{
         height: 22.5rem;
     }

     .panther-logo {
         margin-top: -300%;
         margin-left: -200%;
     }
     .nav-first-div{
         height: 20.5rem;
     }
     .panther-text{
         font-size: 21px;
         margin-left: -28%;
         margin-top: -42%;
     }
     /*.nav-second-div{*/
         /*padding-top: 100px;*/
     /*}*/

     /*.second-div-first-sec{*/
     /*display: none;*/
     /*}*/

     /*.navbar-expand-lg{*/
     /*flex-flow: row-reverse wrap !important;*/
     /*}*/
 }



 @media (min-width: 1024px) {
     .nav-first-div{
         height: 22.5rem;
     }

     .panther-logo {
         margin-top: -300% !important;
         margin-left: -200% !important;
     }
     .nav-first-div{
         height: 20.5rem;
     }
     .panther-text{
         font-size: 21px;
         margin-top: -41% !important;
         margin-left: -32% !important;
     }
     /*.nav-second-div{*/
         /*padding-top: 100px;*/
     /*}*/

 }




 @media (min-width: 1440px) {
     .nav-first-div{
         height: 22.5rem;
     }

     .panther-logo {
         margin-top: -150% !important;
         margin-left: -100% !important;
     }
     .nav-first-div{
         height: 20.5rem;
     }
     .panther-text{
         font-size: 21px;
         margin-left: 5% !important;
         margin-top: -27% !important;
     }
     /*.nav-second-div{*/
         /*padding-top: 100px;*/
     /*}*/
 }

 /*@media (min-width: 1200px) {*/
     /*!*.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {*!*/
         /*!*text-align: center;*!*/
         /*!*display: table-cell;*!*/
         /*!*height: 70px;*!*/
         /*!*vertical-align: middle;*!*/
         /*!*padding-top: 0;*!*/
         /*!*padding-bottom: 0;*!*/

     /*!*}*!*/

     /*!*.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {*!*/
         /*!*display: block;*!*/
         /*!*width: 48px;*!*/
         /*!*margin: 2px auto 4px auto;*!*/
         /*!*top: 0;*!*/
         /*!*line-height: 24px;*!*/
     /*!*}*!*/

     /*!*.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {*!*/
         /*!*top: -7px;*!*/
     /*!*}*!*/

     /*.nav-first-div{*/
         /*height: 22.5rem;*/
     /*}*/

     /*.panther-logo {*/
         /*margin-top: -80%;*/
         /*margin-left: 35%;*/
     /*}*/
     /*.nav-first-div{*/
         /*height: 20.5rem;*/
     /*}*/
     /*.panther-text{*/
         /*margin-left: 5%;*/
         /*margin-top: -15%;*/
         /*font-size: 21px;*/
     /*}*/
     /*.nav-first-div{*/
         /*height: 18.5rem;*/
     /*}*/
     /*.nav-second-div{*/
         /*padding-top: 10px;*/
     /*}*/

 /*}*/



 @media (min-width: 2560px) {
     .nav-first-div{
         height: 22.5rem;
     }

     .panther-logo {
         margin-top: -80% !important;
         margin-left: -83% !important;
     }
     .nav-first-div{
         height: 20.5rem;
     }
     .panther-text{
         font-size: 21px;
         margin-left: 5% !important;
         margin-top: -20% !important;
     }
     /*.nav-second-div{*/
         /*padding-top: 100px;*/
     /*}*/
 }



 .header-div img{
     display:inline-block;
     position: relative;
 }

 .header-option{
     margin-left: 10px;
     color: #FFFFFF;
 }

 .header-text{
     /*margin-top: 20px;*/
     color: #FFFFFF;
     text-align: center;
     font-size: 20px;
 }











/*for testing*/

 .nav-logo{
    text-align: center;
 }


.nav-first-div{
    /*height: 70px;*/
    background-color: #0B1C26;
}
#nav-height{
    height: 70px;
}

.my-nav-class{
    position: relative;
    padding-left: 5% !important;
    padding-right: 3%!important;
}
.nav-second-div{
    width: 100%;
    background-color: #EFEFEF;
}

.header-option{
    margin-top: -30px;
    margin-left: 10px;
    color: #0B1C26;
}
.header-logo-text{
    font-size: 12px;
    /*text-align: right;*/
    color: #FFFFFF;
    padding-top: -50px;

}

.for-text-align{
    padding-right: 20px;
}
/*.nav-third-div{*/
    /*height: 30px;*/
    /*width: 100%;*/
/*}*/
.for-third-row{
    position: absolute;
    top: -128px;
}

.parallelogram{
    border-top: 80px solid #064475;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
}

.panther-logo{
    /*margin-top: -40%;*/
    /*margin-left: 40%;*/
}

.panther-text {
    /*margin-top: -13%;*/
    /*margin-left: -10%;*/
    font-size: 35px;
    color: #FFFFFF;
}


@media (min-width: 1400px) {
    .nav-third-div{
        display: none !important;
    }
}

 .p-top{
     margin-top: 4%;
     margin-bottom: 0px;
 }
.nav-icon{
    top: -60px;
    left: 40%;
}

 /*.plus-icons{*/
     /*padding-top: 2%;*/
 /*}*/