
<nav class="navbar navbar-icon-top navbar-expand-lg my-nav-class">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row h-75 w-100 nav-first-div navbarSupportedContent">
        <div class="col-md-6">
            <ul class="social-network social-circle-3">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12">
                        <div>
                            <p class="header-logo-text p-top"> Address</p>
                            <p class="header-logo-text p-bootom">silver business point</p>
                        </div>
                        <div>
                            <li><a href="#" class="icoGoogle nav-icon" title="Facebook"><i class="fa fa-map-marker"></i></a></li>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12">
                        <div>
                            <p class="header-logo-text p-top"> Call</p>
                            <p class="header-logo-text p-bootom">+9737324317</p>
                        </div>
                        <div>
                            <li><a href="#" class="icoPhone nav-icon" title="Linkedin"><i class="fa fa-mobile"></i></a></li>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12">
                        <div>
                            <p class="header-logo-text p-top"> Email</p>
                            <p class="header-logo-text p-bootom">info@echopanther@gmail.com</p>
                        </div>
                        <div>
                            <li><a href="#" class="icoEmail nav-icon" title="Facebook"><i class="fa fa-envelope"></i></a></li>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="collapse navbar-nav navbar-collapse header-div row nav-second-div navbarSupportedContent">
        <div class="col-md-7 second-div-first-sec">
        </div>
        <div class="col-md-5">
            <ul class="">
                <li class="nav-item" style="list-style-type: none;">
                    <a class="nav-link" href="#">
                        <a class="header-option" href="#"> Home + </a>
                        <a class="header-option" href="#"> Service + </a>
                        <a class="header-option" href="#"> My Story + </a>
                        <a class="header-option" href="#"> My Skill + </a>
                        <a class="header-option" href="#"> Portfolio + </a>
                        <a class="header-option" href="#"> Reviews + </a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="collapse navbar-nav navbar-collapse header-div row nav-third-div navbarSupportedContent">
        <div class="col-md-7">
        </div>
        <div class="col-md-5 for-third-row parallelogram">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img class="panther-logo" height="70px" width="80px" src="/images/panther.png">
                </div>
                <div class="col-lg-8 col-md-6">
                    <p class="panther-text">Echo Panther</p>
                </div>
            </div>
        </div>
    </div>
</nav>